<!DOCTYPE html>
<html>
<head>
<title>Detail Problem</title>
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
</head>
Ask by <%=problem.company%> #<%=problem.level%> #<%=problem.stt%> 
<body>
<pre>
    <code><%=problem.problem%></code>
</pre>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
  });
});
</script>
</body>
</html>